body {
  font-family: 'TT Lakes', sans-serif;
  background: $color-background;
  color: $color-primary;
  font-size: 16px;
}

.hide-scroll {
  overflow-y: hidden;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.container {
  padding: 0 16px;
  margin: 0 auto;
  height: 100%;

  @media (min-width: 768px) {
    padding: 0 24px;
  }

  @media (min-width: 1120px) {
    padding: 0 32px;
  }
}
.button-rounded {
  border-radius: 50%;
}

.expand-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: -0.2px;

  &::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background: url('../images/expand.svg');
  }
}

span.text-shown {
  display: inline;
}

.mobile-hidden {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.mobile-tablet-hidden {
  display: none;

  @media (min-width: 1120px) {
    display: block;
  }
}

.body__main {
  @media (min-width: 1366px) {
    margin-left: $sidebar-width;
  }
}

.title {
  padding: 16px 0;
  background: linear-gradient(90deg, #F8F8F8 1.39%, #FFF 100%);
  border-top: #D9FFF5 2px solid;

  &__text {
    font-size: 16px;
    color: $color-secondary;
    line-height: 1.5em;
    letter-spacing: -0.2px;
    text-transform: uppercase;
  }
}

.swiper-pagination {
  position: static;
  margin-top: 16px;
  bottom: 0;

  @media (min-width: 768px) {
    display: none;
  }

  &-bullet {
    width: 12px;
    height: 12px;
    background: #DDDDDD;
    opacity: 1;
    
    &-active {
      background: #B5B6BC;
    }
  }
}

.btn-with-arrow {
  color: #fff;
  border-radius: 16px;
  background: #FF3E79;
  font-size: 12px;
  font-weight: 700;
  line-height: 2em;
  letter-spacing: -0.15px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 4px 8px 4px 12px;
  align-self: end;

  &::after {
    content: '';
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Crect width='24' height='24' rx='12' fill='%23FF3E79'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.8 11.9999L9.79155 9.229C9.3641 8.83529 9.36112 8.16138 9.78509 7.76392L9.92029 7.63716C10.3032 7.27818 10.8985 7.27633 11.2836 7.63294L15.9381 11.9426C15.9715 11.9735 15.9715 12.0263 15.9381 12.0572L11.3467 16.3085C10.9261 16.698 10.2758 16.696 9.85755 16.3039C9.39446 15.8697 9.39771 15.1336 9.86462 14.7036L12.8 11.9999Z' fill='white'/%3E%3C/svg%3E");
  }

  @media (min-width: 768px) {
    grid-column: auto;
    align-self: center;
  }
}